@mixin meniu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.719);
}

@mixin font
{
font-family: 'Raleway', sans-serif;
font-weight: 900;
letter-spacing: 1px;
}